.component-app {
	position: relative;
}

.fill-container, .component-app > main {
	width: 100%;
	height: 100%;
}

.component-search-box {
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 15%;
	min-width: 250px;
	height: 5%;
	max-height: 100px;
}
