.component-app {
	position: relative;
}

.fill-container, .component-app > main {
	width: 100%;
	height: 100%;
}

.component-search-box {
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 15%;
	min-width: 250px;
	height: 5%;
	max-height: 100px;
}

.component-calculate-route-button, .component-see-route-button {
	position: absolute;
	bottom: 3%;
	width: 10%;
	min-width: 150px;
	height: 5%;
	max-height: 250px;
	border: 3px solid #000;
	cursor: pointer;
	border-radius: 30px;
}

.component-calculate-route-button {
	right: 5%;
}

.component-see-route-button {
	left: 5%;
}
